.main {
  position: absolute;
  top: var(--header-height);
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #B2EBEE;
  display: flex;
  justify-content: center;
  align-items: 'center';
}