.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  text-align: center;
  background-color: var(--footer-color);
  color: rgb(0, 0, 0);
}

.github-link {
  color: #215b69;
}