:root {
  font-size: 18px;
  --header-color: #c8aee18d;
  --footer-color: #5ad5d3;
  --light-jubo-color: #00ccd6;
  --dark-jubo-color: #009ca3;
  --black-jubo-color: #006b70;
  --header-height: 5rem;
  --footer-height: 3rem;
}